In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [5]:
#FIND DUPLICATES
if dfx['APPLICANT_ID'].size == dfx['APPLICANT_ID'].unique().size:
    print("Unique")
else:
    print("Not unique")

Unique

In [23]:
#delete a col
del dfx['STUDENT_CAMPUS_ID']

In [32]:
dfx['COUNTRY_OF_RESIDENCE'].unique()

array(['-', 'FRA', 'USA', 'ECU', 'BGD', 'TWN', 'CHN', 'CHE', 'TUR'], dtype=object)

In [33]:
dfx['STATE_OF_RESIDENCE'].unique()

array(['-', 'FL', 'NY', 'CA', 'ZH', 'NJ', 'IL', 'TN', 'VA', 'MA'], dtype=object)

In [34]:
mask = dfx['ADMITTED'] == 1
dfx2 =dfx[mask]

In [40]:
dfx2.head(4)

,APPLICANT_ID,APPLICANT_NAME,GENDER,APPLICANT_ETHNIC_GROUP,NOTIFICATION_PLAN,FINAL_NOTIFICATION_PLAN,ACADEMIC_CAREER_CODE,ACADEMIC_CAREER,ACADEMIC_PROGRAM_CODE,ACADEMIC_PROGRAM,...,PRIOR_YEAR_DATE,CURRENT_YEAR_DATE,ACT_SCORE_NA,SAT_SCORE_NA,SCORE_BAND,ACADEMIC_LEVEL,FIN_AID,CITIZENSHIP_STATUS,IPEDS_INTL_FLAG,new_col
6,50376133,"Masroor,Faraz",Male,Not Specified,REG,REG,UGRD,Undergraduate,UGAS,Undergraduate Arts & Sciences,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,N,US Citizen–Native,N,5
7,50379757,"Winegardner,Alexander Schilling",Male,Not Specified,ED2,ED2,UGRD,Undergraduate,UGAS,Undergraduate Arts & Sciences,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,N,US Citizen-Type Not Indicated,N,5
9,50417893,"Yeo,Wonjun",Male,Asian,EA,EA,UGRD,Undergraduate,UGBU,Undergraduate Business,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,Y,US Citizen-Type Not Indicated,N,5
10,50426545,"Marine,Matias",Male,Hispanic/Latino,EA,EA,UGRD,Undergraduate,UGAS,Undergraduate Arts & Sciences,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,N,US Citizen–Native,N,5

In [38]:
dfx2['APPLICANT_ID'].count()

57

In [39]:
dfx['APPLICANT_ID'].count()

99

In [41]:
x= dfx2['APPLICANT_ID'].count()

In [42]:
y=dfx['APPLICANT_ID'].count()

In [44]:
x/y*100

57.575757575757578

In [49]:
pd.melt(dfx, id_vars=['APPLICANT_ID'], value_vars=['APPLICANT_ETHNIC_GROUP']).head(5)

   APPLICANT_ID                variable            value
0      50050387  APPLICANT_ETHNIC_GROUP  Hispanic/Latino
1      50178914  APPLICANT_ETHNIC_GROUP    Not Specified
2      50238897  APPLICANT_ETHNIC_GROUP    Not Specified
3      50266806  APPLICANT_ETHNIC_GROUP    Not Specified
4      50297494  APPLICANT_ETHNIC_GROUP            White

In [53]:
pd.crosstab(dfx['APPLICANT_ID'],dfx['APPLICANT_ETHNIC_GROUP']).head(10)

APPLICANT_ETHNIC_GROUP,Asian,Black/African American,Hispanic/Latino,Not Available,Not Specified,Two or More Races,White
APPLICANT_ID,,,,,,,
50050387,0,0,1,0,0,0,0
50178914,0,0,0,0,1,0,0
50238897,0,0,0,0,1,0,0
50266806,0,0,0,0,1,0,0
50297494,0,0,0,0,0,0,1
50300554,0,0,0,0,1,0,0
50376133,0,0,0,0,1,0,0
50379757,0,0,0,0,1,0,0
50417521,0,0,1,0,0,0,0
50417893,1,0,0,0,0,0,0

In [54]:
dfxsubset = dfx[(dfx['NET_DEPOSITS']== 1)]

In [56]:
dfxsubset.head(10)

,APPLICANT_ID,APPLICANT_NAME,GENDER,APPLICANT_ETHNIC_GROUP,NOTIFICATION_PLAN,FINAL_NOTIFICATION_PLAN,ACADEMIC_CAREER_CODE,ACADEMIC_CAREER,ACADEMIC_PROGRAM_CODE,ACADEMIC_PROGRAM,...,PRIOR_YEAR_DATE,CURRENT_YEAR_DATE,ACT_SCORE_NA,SAT_SCORE_NA,SCORE_BAND,ACADEMIC_LEVEL,FIN_AID,CITIZENSHIP_STATUS,IPEDS_INTL_FLAG,new_col
7,50379757,"Winegardner,Alexander Schilling",Male,Not Specified,ED2,ED2,UGRD,Undergraduate,UGAS,Undergraduate Arts & Sciences,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,N,US Citizen-Type Not Indicated,N,5
9,50417893,"Yeo,Wonjun",Male,Asian,EA,EA,UGRD,Undergraduate,UGBU,Undergraduate Business,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,Y,US Citizen-Type Not Indicated,N,5
16,51793645,"Nash,Bryson W",Male,Not Available,EA,EA,UGRD,Undergraduate,UGBU,Undergraduate Business,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,Y,US Citizen–Native,N,5
25,54042947,"Chen,Jingdong",Male,Asian,REG,REG,UGRD,Undergraduate,UGEN,Undergraduate Engineering,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,N,Alien Temp. (non-immigrant),Y,5
26,54047458,"Elsas,Robert Lucas",Male,White,REG,REG,UGRD,Undergraduate,UGEN,Undergraduate Engineering,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,Y,US Citizen–Native,N,5
31,54076026,"Bachmann,Calder Vikram",Male,Two or More Races,EA,EA,UGRD,Undergraduate,UGAS,Undergraduate Arts & Sciences,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,N,US Citizen–Native,N,5
35,54088931,"Braddock,Sarah Victoria",Female,Not Specified,REG,REG,UGRD,Undergraduate,UGCO,Undergraduate Communication,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,N,US Citizen–Native,N,5
39,54095793,"Doyle,Laura",Female,Hispanic/Latino,ED1,ED1,UGRD,Undergraduate,UGNU,Undergraduate Nursing,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,Y,US Citizen–Native,N,5
40,54109522,"Vignau,Alexia",Female,Hispanic/Latino,EA,EA,UGRD,Undergraduate,UGAS,Undergraduate Arts & Sciences,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,Y,US Citizen–Native,N,5
44,54121947,"Schneider,Samantha Sue",Female,White,EA,EA,UGRD,Undergraduate,UGMS,Undergraduate Marine & Atm Sci,...,2016-05-30,2017-05-30,USE ACT SAT DASHBOARD,USE ACT SAT DASHBOARD,NaN,Freshman,N,US Citizen–Native,N,5

In [57]:
dfxsubset.shape

(29, 49)

In [64]:
#29 rows 49 cols
#group data
#group = dfx.groupby(['APPLICANT_ETHNIC_GROUP','COUNTRY_OF_RESIDENCE']) DID not group

In [68]:
#qry= dfx.query((['col_name'] == value))

In [ ]:
#Get descriptive statistics for a specified column
#dfx.col_name.describe()  for integers values gives mean std min max quartiles
#Group data and obtain the mean values   grpagg = ver.groupby('purchaser_type_name').aggregate(np.mean)
#grpagg
#Group data and get the sums
#grpsum = ver.groupby('purchaser_type_name').aggregate(np.sum)
#grpsum

In [71]:
criterion = dfx['APPLICANT_ETHNIC_GROUP'].map(lambda x: x.startswith('B'))
criterion.head()

0    False
1    False
2    False
3    False
4    False
Name: APPLICANT_ETHNIC_GROUP, dtype: bool

In [4]:
MTH = pd.read_excel('C:/Users/mjc341/desktop/TESTPY/PY_MTH_CRSES.xlsx')

In [5]:
MTH.head(2)

,ID,Career,Admit Term,Admit Type,Acad Prog,Course ID,EarnCredit,Artic Term,Eff Date,Appl Nbr,...,Descr,Grading,Transfer,Subject,Catalog,COURSE,Sequence,Grd Scheme,Grade,Grade Category
0,50025963,UGRD,2158,XFR,UGBU,101267,Y,2168,2014-08-22,133455,...,NaN,TRN,3.0,MTH,O99,MTH O99,1,UGD,B,TRAN
1,50025963,UGRD,2158,XFR,UGBU,108140,Y,2168,2014-08-22,133455,...,NaN,TRN,3.0,MTH,101,MTH 101,1,UGD,B,TRAN

In [7]:
pd.crosstab(MTH.COURSE, MTH.ID, margins=True)

ID,50025963,50034173,50035159,50035785,50038222,50040434,50040624,50041905,50042487,50043180,...,54321832,54321927,54321957,54321978,54321996,54322198,54322204,54322322,54322365,All
COURSE,,,,,,,,,,,,,,,,,,,,,
ARH 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
ART 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46
ART 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
ART 108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
BIL 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,43
BIL 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
BIL 108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
BIL 113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
CHM 105,0,2,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,580
CHM 113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2795
COM 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
DAN 130,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
ECS 113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
ENG 105,1,1,2,1,1,1,1,1,0,2,...,1,1,0,0,1,1,1,1,1,10775
ENG 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
ENG 108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
FRE 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
GEG 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,333
GEG 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
GSC 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
GSC 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
HIS 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
JMM 108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,100
MCY 140,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
MKP 140,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
MMI 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
MMI 108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
MMI 140,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
MSC 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
MSC 108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MTH 140,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,69
MTH 141,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21
MTH 151,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,69
MTH 161,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,2149
MTH 162,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1079
MTH 171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
MTH 172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
MTH 199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
MTH 200T,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
MTH 210,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,126
MTH 211,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,360
MTH 224,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
MTH 300T,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
MTH 301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
MTH 309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21
MTH 310,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
MTH 311,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,242
MTH 400T,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
PHI 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
PHI 130,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,82
PHY 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
PHY 108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,232
POR 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
SPA 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
SPA 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,41
TAL 107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,121
THA 105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,266
THA 113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
THA 140,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
All,4,3,5,4,3,7,4,7,1,5,...,1,2,1,1,2,5,2,2,5,38490

In [9]:
CRS = pd.crosstab(MTH.ID, MTH.COURSE,  margins=True)

In [10]:
CRS.head(2)

COURSE,ARH 107,ART 105,ART 107,ART 108,BIL 105,BIL 107,BIL 108,BIL 113,CHM 105,CHM 113,...,PHY 107,PHY 108,POR 105,SPA 105,SPA 107,TAL 107,THA 105,THA 113,THA 140,All
ID,,,,,,,,,,,,,,,,,,,,,
50025963,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
50034173,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,3

In [11]:
CRS.columns

Index(['ARH  107', 'ART  105', 'ART  107', 'ART  108', 'BIL  105', 'BIL  107',
       'BIL  108', 'BIL  113', 'CHM  105', 'CHM  113', 'COM  105', 'DAN  130',
       'ECS  113', 'ENG  105', 'ENG  107', 'ENG  108', 'FRE  105', 'GEG  105',
       'GEG  107', 'GSC  105', 'GSC  107', 'HIS  105', 'JMM  108', 'MCY  140',
       'MKP  140', 'MMI  107', 'MMI  108', 'MMI  140', 'MSC  107', 'MSC  108',
       'MSJ  107', 'MSJ  108', 'MSJ  113', 'MTC  107', 'MTC  108', 'MTC  140',
       'MTH     O99', 'MTH  100T', 'MTH  101', 'MTH  103', 'MTH  104',
       'MTH  105', 'MTH  106', 'MTH  107', 'MTH  108', 'MTH  109', 'MTH  111',
       'MTH  112', 'MTH  113', 'MTH  114', 'MTH  11T', 'MTH  130', 'MTH  131',
       'MTH  140', 'MTH  141', 'MTH  151', 'MTH  161', 'MTH  162', 'MTH  171',
       'MTH  172', 'MTH  199', 'MTH  200T', 'MTH  210', 'MTH  211', 'MTH  224',
       'MTH  300T', 'MTH  301', 'MTH  309', 'MTH  310', 'MTH  311',
       'MTH  400T', 'PHI  105', 'PHI  130', 'PHY  107', 'PHY  108', 'POR  105',
       'SPA  105', 'SPA  107', 'TAL  107', 'THA  105', 'THA  113', 'THA  140',
       'All'],
      dtype='object', name='COURSE')

In [15]:
value_list = ['MTH']

In [19]:
MTHb = [MTH.Subject.isin(value_list)]

In [26]:
MTHb[MTH.Subject.isin(value_list)]

TypeError: list indices must be integers or slices, not Series

In [27]:
MTH.head(2)

,ID,Career,Admit Term,Admit Type,Acad Prog,Course ID,EarnCredit,Artic Term,Eff Date,Appl Nbr,...,Descr,Grading,Transfer,Subject,Catalog,COURSE,Sequence,Grd Scheme,Grade,Grade Category
0,50025963,UGRD,2158,XFR,UGBU,101267,Y,2168,2014-08-22,133455,...,NaN,TRN,3.0,MTH,O99,MTH O99,1,UGD,B,TRAN
1,50025963,UGRD,2158,XFR,UGBU,108140,Y,2168,2014-08-22,133455,...,NaN,TRN,3.0,MTH,101,MTH 101,1,UGD,B,TRAN

In [29]:
MTH.columns

Index(['ID', 'Career', 'Admit Term', 'Admit Type', 'Acad Prog', 'Course ID',
       'EarnCredit', 'Artic Term', 'Eff Date', 'Appl Nbr', 'Year', 'Sch Subj',
       'Course Nbr', 'Descr', 'Grading', 'Transfer', 'Subject', 'Catalog',
       'COURSE', 'Sequence', 'Grd Scheme', 'Grade', 'Grade Category'],
      dtype='object')

In [30]:
value_list = ['MTH']

In [34]:
MTH1= MTH[MTH.Subject.isin(value_list)]

In [35]:
CRS2 = pd.crosstab(MTH1.ID, MTH.COURSE,  margins=True)

In [36]:
CRS2.head(2)

COURSE,MTH O99,MTH 100T,MTH 101,MTH 103,MTH 104,MTH 105,MTH 106,MTH 107,MTH 108,MTH 109,...,MTH 210,MTH 211,MTH 224,MTH 300T,MTH 301,MTH 309,MTH 310,MTH 311,MTH 400T,All
ID,,,,,,,,,,,,,,,,,,,,,
50025963.0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
50035159.0,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [37]:
MTH1.head(2)

,ID,Career,Admit Term,Admit Type,Acad Prog,Course ID,EarnCredit,Artic Term,Eff Date,Appl Nbr,...,Descr,Grading,Transfer,Subject,Catalog,COURSE,Sequence,Grd Scheme,Grade,Grade Category
0,50025963,UGRD,2158,XFR,UGBU,101267,Y,2168,2014-08-22,133455,...,NaN,TRN,3.0,MTH,O99,MTH O99,1,UGD,B,TRAN
1,50025963,UGRD,2158,XFR,UGBU,108140,Y,2168,2014-08-22,133455,...,NaN,TRN,3.0,MTH,101,MTH 101,1,UGD,B,TRAN

In [38]:
value_list2 = ['MTH 140','MTH 141','MTH 151','MTH 161','MTH 162','MTH 171','MTH 172']

In [40]:
MTH3= MTH[MTH.COURSE.isin(value_list)]

In [42]:
MTH3.head(3)

Empty DataFrame
Columns: [ID, Career, Admit Term, Admit Type, Acad Prog, Course ID, EarnCredit, Artic Term, Eff Date, Appl Nbr, Year, Sch Subj, Course Nbr, Descr, Grading, Transfer, Subject, Catalog, COURSE, Sequence, Grd Scheme, Grade, Grade Category]
Index: []

[0 rows x 23 columns]

In [43]:
MTH.info

<bound method DataFrame.info of              ID Career  Admit Term Admit Type Acad Prog  Course ID EarnCredit  \
0      50025963   UGRD        2158        XFR      UGBU     101267          Y
1      50025963   UGRD        2158        XFR      UGBU     108140          Y
2      50025963   UGRD        2158        XFR      UGBU     111200          Y
3      50025963   UGRD        2158        XFR      UGBU     116153          Y
4      50034173   UGRD        2148        XFR      UGNU     110064          N
5      50034173   UGRD        2148        XFR      UGNU     110064          Y
6      50034173   UGRD        2148        XFR      UGNU     111200          Y
7      50035159   UGRD        2138        XFR      UGAS     108140          Y
8      50035159   UGRD        2138        XFR      UGAS     111200          N
9      50035159   UGRD        2138        XFR      UGAS     111200          Y
10     50035159   UGRD        2138        XFR      UGAS     116155          Y
11     50035159   UGRD        2138        XFR      UGAS     122350          Y
12     50035785   UGRD        2148        XFR      UGNU     101267          Y
13     50035785   UGRD        2148        XFR      UGNU     108140          Y
14     50035785   UGRD        2148        XFR      UGNU     110064          Y
15     50035785   UGRD        2148        XFR      UGNU     111200          Y
16     50038222   UGRD        2148        XFR      UGAS     108140          N
17     50038222   UGRD        2148        XFR      UGAS     108140          Y
18     50038222   UGRD        2148        XFR      UGAS     111200          Y
19     50040434   UGRD        2161        XFR      UGNU     104297          N
20     50040434   UGRD        2161        XFR      UGNU     104297          Y
21     50040434   UGRD        2161        XFR      UGNU     106621          Y
22     50040434   UGRD        2161        XFR      UGNU     108140          Y
23     50040434   UGRD        2161        XFR      UGNU     110767          Y
24     50040434   UGRD        2161        XFR      UGNU     111200          Y
25     50040434   UGRD        2161        XFR      UGNU     122350          Y
26     50040624   UGRD        2148        XFR      UGNU     101267          Y
27     50040624   UGRD        2148        XFR      UGNU     108140          Y
28     50040624   UGRD        2148        XFR      UGNU     110064          Y
29     50040624   UGRD        2148        XFR      UGNU     111200          Y
...         ...    ...         ...        ...       ...        ...        ...
38460  54321798   UGRD        2188        XFR      UGBU     111200          Y
38461  54321798   UGRD        2188        XFR      UGBU     116155          Y
38462  54321830   UGRD        2188        XFR      UGBU     101267          Y
38463  54321830   UGRD        2188        XFR      UGBU     104297          Y
38464  54321830   UGRD        2188        XFR      UGBU     108140          Y
38465  54321830   UGRD        2188        XFR      UGBU     111200          Y
38466  54321830   UGRD        2188        XFR      UGBU     122350          N
38467  54321830   UGRD        2188        XFR      UGBU     122350          Y
38468  54321830   UGRD        2188        XFR      UGBU     122350          Y
38469  54321832   UGRD        2188        XFR      UGAS     111200          Y
38470  54321927   UGRD        2188        XFR      UGCO     111200          Y
38471  54321927   UGRD        2188        XFR      UGCO     122350          Y
38472  54321957   UGRD        2188        XFR      UGNU     101267          Y
38473  54321978   UGRD        2188        XFR      UGCO     122350          Y
38474  54321996   UGRD        2188        XFR      UGBU     111200          Y
38475  54321996   UGRD        2188        XFR      UGBU     116157          Y
38476  54322198   UGRD        2188        XFR      UGAR     108140          N
38477  54322198   UGRD        2188        XFR      UGAR     108140          Y
38478  54322198   UGRD        2188        XFR      UGAR     111200          Y
38479  54322198   UGRD        2188        XFR      UGAR     116153          Y
38480  54322198   UGRD        2188        XFR      UGAR     122350          Y
38481  54322204   UGRD        2188        XFR      UGAS     104297          Y
38482  54322204   UGRD        2188        XFR      UGAS     111200          Y
38483  54322322   UGRD        2188        XFR      UGAS     108140          Y
38484  54322322   UGRD        2188        XFR      UGAS     111200          Y
38485  54322365   UGRD        2188        XFR      UGBU     104297          Y
38486  54322365   UGRD        2188        XFR      UGBU     108140          Y
38487  54322365   UGRD        2188        XFR      UGBU     111200          Y
38488  54322365   UGRD        2188        XFR      UGBU     116157          Y
38489  54322365   UGRD        2188        XFR      UGBU     122350          Y

       Artic Term   Eff Date  Appl Nbr       ...                      Descr  \
0            2168 2014-08-22    133455       ...                        NaN
1            2168 2014-08-22    133455       ...                        NaN
2            2168 2014-08-22    133455       ...                        NaN
3            2168 2014-08-22    133455       ...                        NaN
4            2148 2013-10-14     79249       ...         BASIC CHEMISTRY LA
5            2148 2013-10-14     79249       ...         BASIC CHEMISTRY LA
6            2148 2013-10-14     79249       ...             ENGLISH COMP 1
7            2138 2013-06-12     17912       ...        ALGEBRA FOR COL STU
8            2138 2013-06-12     17912       ...          ENG COMPOSITION I
9            2138 2013-06-12     17912       ...          ENG COMPOSITION I
10           2138 2013-06-12     17912       ...             INTRO CALCULUS
11           2138 2013-06-12     17912       ...           INTERMED ALGEBRA
12           2148 2014-05-19    131113       ...                        NaN
13           2148 2014-05-19    131113       ...                        NaN
14           2148 2014-05-19    131113       ...                        NaN
15           2148 2014-05-19    131113       ...                        NaN
16           2148 2014-03-06    127202       ...                        NaN
17           2148 2014-03-06    127202       ...                        NaN
18           2148 2014-03-06    127202       ...                        NaN
19           2008 2015-09-15    192960       ...             PRECALC MATH I
20           2008 2015-09-15    192960       ...             PRECALC MATH I
21           2008 2015-09-15    192960       ...               TRIGONOMETRY
22           2008 2015-09-15    192960       ...         ALGBRA FOR COL STU
23           2008 2015-09-15    192960       ...             INTRO CALCULUS
24           2008 2015-09-15    192960       ...          ENG COMPOSITION I
25           2008 2015-09-15    192960       ...           INTERMED ALGEBRA
26           2145 2013-10-15     80570       ...         intermediate algeb
27           2145 2013-10-15     80570       ...            college algebra
28           2145 2013-10-15     80570       ...         chem/for hlt sci l
29           2145 2013-10-15     80570       ...             english comp 1
...           ...        ...       ...       ...                        ...
38460        2188 2018-02-28    360530       ...                        NaN
38461        2188 2018-02-28    360530       ...                        NaN
38462        2188 2018-02-28    360461       ...                        NaN
38463        2188 2018-02-28    360461       ...                        NaN
38464        2188 2018-02-28    360461       ...                        NaN
38465        2188 2018-02-28    360461       ...                        NaN
38466        2188 2018-02-28    360461       ...                        NaN
38467        2188 2018-02-28    360461       ...                        NaN
38468        2188 2018-02-28    360461       ...                        NaN
38469        2188 2018-02-28    360480       ...                        NaN
38470        2188 2018-03-01    360870       ...                        NaN
38471        2188 2018-03-01    360870       ...                        NaN
38472        2188 2018-03-01    360696       ...                        NaN
38473        2188 2018-03-01    360744       ...                        NaN
38474        2188 2018-03-01    360765       ...                        NaN
38475        2188 2018-03-01    360765       ...                        NaN
38476        2188 2018-03-01    360717       ...                        NaN
38477        2188 2018-03-01    360717       ...                        NaN
38478        2188 2018-03-01    360717       ...                        NaN
38479        2188 2018-03-01    360717       ...                        NaN
38480        2188 2018-03-01    360717       ...                        NaN
38481        2188 2018-03-01    360835       ...                        NaN
38482        2188 2018-03-01    360835       ...                        NaN
38483        2188 2018-03-02    361224       ...                        NaN
38484        2188 2018-03-02    361224       ...                        NaN
38485        2188 2018-03-02    361115       ...                        NaN
38486        2188 2018-03-02    361115       ...                        NaN
38487        2188 2018-03-02    361115       ...                        NaN
38488        2188 2018-03-02    361115       ...                        NaN
38489        2188 2018-03-02    361115       ...                        NaN

      Grading Transfer Subject  Catalog       COURSE Sequence Grd Scheme  \
0         TRN      3.0     MTH      O99  MTH     O99        1        UGD
1         TRN      3.0     MTH      101     MTH  101        1        UGD
2         TRN      3.0     ENG      105     ENG  105        1        UGD
3         TRN      3.0     MTH      113     MTH  113        1        UGD
4         TRN      0.0     CHM      105     CHM  105        1        UGD
5         TRN      1.0     CHM      105     CHM  105        1        UGD
6         TRN      3.0     ENG      105     ENG  105        1        UGD
7         TRN      3.0     MTH      101     MTH  101        0        UGD
8         TRN      0.0     ENG      105     ENG  105        0        UGD
9         TRN      3.0     ENG      105     ENG  105        0        UGD
10        TRN      3.0     MTH      130     MTH  130        0        UGD
11        TRN      3.0     MTH     100T    MTH  100T        0        UGD
12        TRN      0.0     MTH      O99  MTH     O99        1        UGD
13        TRN      3.0     MTH      101     MTH  101        1        UGD
14        TRN      1.0     CHM      105     CHM  105        1        UGD
15        TRN      3.0     ENG      105     ENG  105        1        UGD
16        TRN      0.0     MTH      101     MTH  101        1        UGD
17        TRN      3.0     MTH      101     MTH  101        1        UGD
18        TRN      3.0     ENG      105     ENG  105        1        UGD
19        TRN      0.0     MTH      107     MTH  107        1        UGD
20        TRN      3.0     MTH      107     MTH  107        1        UGD
21        TRN      3.0     MTH      11T     MTH  11T        1        UGD
22        TRN      3.0     MTH      101     MTH  101        1        UGD
23        TRN      3.0     MTH      109     MTH  109        1        UGD
24        TRN      3.0     ENG      105     ENG  105        1        UGD
25        TRN      3.0     MTH     100T    MTH  100T        1        UGD
26        TRN      3.0     MTH      O99  MTH     O99        1        UGD
27        TRN      3.0     MTH      101     MTH  101        1        UGD
28        TRN      1.0     CHM      105     CHM  105        1        UGD
29        TRN      3.0     ENG      105     ENG  105        1        UGD
...       ...      ...     ...      ...          ...      ...        ...
38460     TRN      3.0     ENG      105     ENG  105        1        UGD
38461     TRN      3.0     MTH      130     MTH  130        1        UGD
38462     TRN      3.0     MTH      O99  MTH     O99        1        UGD
38463     TRN      3.0     MTH      107     MTH  107        1        UGD
38464     TRN      3.0     MTH      101     MTH  101        1        UGD
38465     TRN      3.0     ENG      105     ENG  105        1        UGD
38466     TRN      0.0     MTH     100T    MTH  100T        1        UGD
38467     TRN      3.0     MTH     100T    MTH  100T        1        UGD
38468     TRN      5.0     MTH     100T    MTH  100T        1        UGD
38469     TRN      3.0     ENG      105     ENG  105        1        UGD
38470     TRN      3.0     ENG      105     ENG  105        1        UGD
38471     TRN      3.0     MTH     100T    MTH  100T        1        UGD
38472     TRN      4.0     MTH      O99  MTH     O99        1        UGD
38473     TRN      3.0     MTH     100T    MTH  100T        1        UGD
38474     TRN      3.0     ENG      105     ENG  105        1        UGD
38475     TRN      3.0     MTH      161     MTH  161        1        UGD
38476     TRN      0.0     MTH      101     MTH  101        1        UGD
38477     TRN      3.0     MTH      101     MTH  101        1        UGD
38478     TRN      3.0     ENG      105     ENG  105        1        UGD
38479     TRN      3.0     MTH      113     MTH  113        1        UGD
38480     TRN      3.0     MTH     100T    MTH  100T        1        UGD
38481     TRN      3.0     MTH      107     MTH  107        1        UGD
38482     TRN      3.0     ENG      105     ENG  105        1        UGD
38483     TRN      3.0     MTH      101     MTH  101        1        UGD
38484     TRN      3.0     ENG      105     ENG  105        1        UGD
38485     TRN      3.0     MTH      107     MTH  107        1        UGD
38486     TRN      3.0     MTH      101     MTH  101        1        UGD
38487     TRN      3.0     ENG      105     ENG  105        1        UGD
38488     TRN      5.0     MTH      161     MTH  161        1        UGD
38489     TRN      3.0     MTH     100T    MTH  100T        1        UGD

      Grade  Grade Category
0         B            TRAN
1         B            TRAN
2         B            TRAN
3         A            TRAN
4         D            TRAN
5         C            TRAN
6         B            TRAN
7         A            TRAN
8         D            TRAN
9         C            TRAN
10        B            TRAN
11       B+            TRAN
12        B            TRAN
13        B            TRAN
14        B            TRAN
15        C            TRAN
16        D            TRAN
17        B            TRAN
18        B            TRAN
19        F            FAIL
20        C            TRAN
21        B            TRAN
22        C            TRAN
23        C            TRAN
24        A            TRAN
25        B            TRAN
26        C            TRAN
27        B            TRAN
28        A            TRAN
29        B            TRAN
...     ...             ...
38460     B            TRAN
38461     B            TRAN
38462     B            TRAN
38463     A            TRAN
38464     B            TRAN
38465     C            TRAN
38466     F            FAIL
38467     A            TRAN
38468     C            TRAN
38469     B            TRAN
38470    A+            TRAN
38471    B+            TRAN
38472     A            TRAN
38473    A-            TRAN
38474    A-            TRAN
38475     A            TRAN
38476     F            FAIL
38477     C            TRAN
38478     C            TRAN
38479     B            TRAN
38480     B            TRAN
38481     A            TRAN
38482     A            TRAN
38483     A            TRAN
38484     A            TRAN
38485     A            TRAN
38486     B            TRAN
38487     A            TRAN
38488     A            TRAN
38489     B            TRAN

[38490 rows x 23 columns]>

In [44]:
MTH.columns

Index(['ID', 'Career', 'Admit Term', 'Admit Type', 'Acad Prog', 'Course ID',
       'EarnCredit', 'Artic Term', 'Eff Date', 'Appl Nbr', 'Year', 'Sch Subj',
       'Course Nbr', 'Descr', 'Grading', 'Transfer', 'Subject', 'Catalog',
       'COURSE', 'Sequence', 'Grd Scheme', 'Grade', 'Grade Category'],
      dtype='object')

In [46]:
MTH['COURSE'].describe

<bound method NDFrame.describe of 0        MTH     O99
1           MTH  101
2           ENG  105
3           MTH  113
4           CHM  105
5           CHM  105
6           ENG  105
7           MTH  101
8           ENG  105
9           ENG  105
10          MTH  130
11         MTH  100T
12       MTH     O99
13          MTH  101
14          CHM  105
15          ENG  105
16          MTH  101
17          MTH  101
18          ENG  105
19          MTH  107
20          MTH  107
21          MTH  11T
22          MTH  101
23          MTH  109
24          ENG  105
25         MTH  100T
26       MTH     O99
27          MTH  101
28          CHM  105
29          ENG  105
            ...
38460       ENG  105
38461       MTH  130
38462    MTH     O99
38463       MTH  107
38464       MTH  101
38465       ENG  105
38466      MTH  100T
38467      MTH  100T
38468      MTH  100T
38469       ENG  105
38470       ENG  105
38471      MTH  100T
38472    MTH     O99
38473      MTH  100T
38474       ENG  105
38475       MTH  161
38476       MTH  101
38477       MTH  101
38478       ENG  105
38479       MTH  113
38480      MTH  100T
38481       MTH  107
38482       ENG  105
38483       MTH  101
38484       ENG  105
38485       MTH  107
38486       MTH  101
38487       ENG  105
38488       MTH  161
38489      MTH  100T
Name: COURSE, Length: 38490, dtype: object>

In [48]:
MTH[['COURSE']]=MTH[['COURSE']].astype(str)

In [49]:
MTH3= MTH[MTH.COURSE.isin(value_list2)]

In [51]:
MTH3.head()

Empty DataFrame
Columns: [ID, Career, Admit Term, Admit Type, Acad Prog, Course ID, EarnCredit, Artic Term, Eff Date, Appl Nbr, Year, Sch Subj, Course Nbr, Descr, Grading, Transfer, Subject, Catalog, COURSE, Sequence, Grd Scheme, Grade, Grade Category]
Index: []

[0 rows x 23 columns]