In [1]:
import numpy as NP
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
GPA=pd.read_excel('C:/Users/mjc341/Desktop/TESTPY/GPA_TEST_PIVOT_2138-88.xlsx')

In [8]:
GPA.head(3)

         ID  Group Name Career  S-TERM    GPA
0  50412946        2168   UGRD    2168  2.744
1  50412946        2168   UGRD    2165  2.696
2  50412946        2168   UGRD    2161  2.648

In [9]:
GPA2= GPA.pivot(index='ID',columns='S-TERM',values='GPA')

In [10]:
GPA2.head(3)

S-TERM,2138,2141,2145,2148,2151,2155,2158,2161,2165,2168,2171,2175,2178,2181,2185,2188
ID,,,,,,,,,,,,,,,,
50016060,3.95,3.950,3.957,3.967,3.970,3.973,3.973,3.973,3.975,3.977,3.977,NaN,NaN,3.977,3.977,3.977
50017756,3.57,3.582,3.623,3.579,3.607,NaN,NaN,3.476,3.476,3.450,3.450,3.45,3.45,NaN,NaN,NaN
50017823,NaN,4.000,NaN,3.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
GPA2.info

<bound method DataFrame.info of S-TERM    1651  1658  1661  1665  1678  1681  1688  1691  1695  1698  ...    \
ID                                                                    ...
50015400   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50015452   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50015463   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50015731   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50015778   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50015968   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50016060   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50017295   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50017483   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50017756   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50017823   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50017876   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50018042   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50018259   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50018333   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50018382   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50018722   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50018742   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50018767   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50018782   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50018846   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50018856   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50019036   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50019070   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50020269   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50020380   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50020522   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50020633   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50020635   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
50020791   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
54206208   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54206209   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54206390   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54206496   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54206497   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54206498   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54206580   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54206586   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54206664   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54206793   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54206981   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54207060   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54207663   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54207721   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54207855   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54207856   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54208197   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54208313   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54208422   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54208681   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54208955   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54209058   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54209359   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54209638   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54209861   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54209863   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54209888   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54209890   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54209891   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
54209946   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

S-TERM     2158   2161   2165   2168   2171   2175   2178   2181   2185   2188
ID
50015400    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50015452    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50015463    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50015731    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50015778    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50015968    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50016060  3.973  3.973  3.975  3.977  3.977    NaN    NaN  3.977  3.977  3.977
50017295    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50017483    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50017756    NaN  3.476  3.476  3.450  3.450  3.450  3.450    NaN    NaN    NaN
50017823    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50017876    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50018042    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50018259    NaN    NaN    NaN  3.179  3.179    NaN    NaN    NaN    NaN    NaN
50018333    NaN  3.700    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50018382    NaN  2.881    NaN  2.864    NaN    NaN    NaN    NaN    NaN    NaN
50018722    NaN    NaN    NaN  4.000    NaN    NaN    NaN    NaN    NaN    NaN
50018742    NaN    NaN    NaN    NaN    NaN  4.000    NaN    NaN    NaN    NaN
50018767    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50018782    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50018846    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50018856    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50019036    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50019070    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50020269    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50020380    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50020522    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50020633    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50020635    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50020791    NaN  3.740  3.740  3.733  3.747  3.747  3.747    NaN    NaN    NaN
...         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
54206208    NaN    NaN    NaN  3.340  3.232  3.232  3.377  3.377    NaN    NaN
54206209    NaN    NaN    NaN  3.531  3.636  3.636  3.675  3.675  3.675  3.675
54206390    NaN    NaN    NaN  3.150  3.144  3.144  3.329  3.329  3.329  3.329
54206496    NaN    NaN    NaN  3.080  3.364  3.364  3.380  3.380    NaN    NaN
54206497    NaN    NaN    NaN  1.825  1.608  1.653  1.813  1.813  1.813  1.813
54206498    NaN    NaN    NaN  2.210  2.284  2.248  2.402  2.402  2.402  2.402
54206580    NaN    NaN    NaN  2.260  2.222  2.400  2.713  2.713  2.713  2.713
54206586    NaN    NaN    NaN  3.000  3.425  3.425  3.479  3.479  3.479  3.479
54206664    NaN    NaN    NaN  3.429  3.392    NaN  3.654  3.654  3.654  3.654
54206793    NaN    NaN    NaN  3.750  3.200  3.200  3.160  3.160    NaN    NaN
54206981    NaN    NaN    NaN  2.340  2.344  2.464  2.500  2.500  2.500  2.500
54207060    NaN    NaN    NaN  4.000  4.000    NaN  4.000  4.000  4.000  4.000
54207663    NaN    NaN    NaN  3.700  3.700  3.850  3.850    NaN    NaN    NaN
54207721    NaN    NaN    NaN  3.681  3.344  3.344  2.964  2.964    NaN    NaN
54207855    NaN    NaN    NaN  4.000  4.000    NaN    NaN    NaN    NaN    NaN
54207856    NaN    NaN    NaN  4.000  3.769  3.769  3.769    NaN    NaN    NaN
54208197    NaN    NaN    NaN    NaN    NaN  0.000    NaN    NaN    NaN    NaN
54208313    NaN    NaN    NaN  3.025  3.025    NaN    NaN    NaN    NaN    NaN
54208422    NaN    NaN    NaN  3.000  2.663  2.330  2.686  2.686  2.686  2.686
54208681    NaN    NaN    NaN  3.300  3.300    NaN    NaN    NaN    NaN    NaN
54208955    NaN    NaN    NaN  2.700  2.700    NaN    NaN    NaN    NaN    NaN
54209058    NaN    NaN    NaN  3.700  3.700    NaN    NaN    NaN    NaN    NaN
54209359    NaN    NaN    NaN  0.000  0.000    NaN  0.000  0.000  0.000  0.000
54209638    NaN    NaN    NaN  1.425  2.200  2.386  2.300  2.300  2.300  2.300
54209861    NaN    NaN    NaN  4.000  4.000    NaN  4.000    NaN    NaN    NaN
54209863    NaN    NaN    NaN  4.000  4.000    NaN    NaN    NaN    NaN    NaN
54209888    NaN    NaN    NaN  4.000  4.000    NaN    NaN    NaN    NaN    NaN
54209890    NaN    NaN    NaN  4.000  4.000    NaN    NaN    NaN    NaN    NaN
54209891    NaN    NaN    NaN  4.000  4.000    NaN    NaN    NaN    NaN    NaN
54209946    NaN    NaN    NaN  4.000  4.000    NaN    NaN    NaN    NaN    NaN

[12106 rows x 145 columns]>

In [11]:
GPA2.to_excel("pivotedGPAs.xlsx")